transform-service/Transfrom-Service.zip
media-repository/credentials.json
media-repository/build/fims-media-repo-api-package.zip
/npm-debug.log
/service-registry/.vscode
/service-registry/node_modules
/deploy/.terraform
/job-repository/build-test1
/.vscode
/service-registry/build-test1
/job-processor-service/build-test1
/media-repository/build
/transform-service/build
deploy/terraform.tfstate
deploy/workflow/terraform.tfstate
deploy/workflow/terraform.tfstate.backup
deploy/terraform.tfstate
transform-service/node_modules
